{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="Naveen Thurimerla" />
  <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon' >
  <title>Password Generator</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'vendor\jQuery\jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'vendor\clipboardjs\clipboard.min.js' %}"></script>

</head>

<body>

  <nav class="navbar fixed-top navbar-dark" style="background-color: black;">
    <a class="navbar-brand" href="#">Password Generator</a>
  </nav>

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

      <div class="container">

        <div class="card card-body text-center">

          <input class="text-center" id="opt_password_input" value="{{ opt_password }}">
          <button class="btn btn-success text-center btn-lg btn-block" data-clipboard-target="#opt_password_input"> Copy
            Password </button>
        </div>

      </div>

      <div class="container">

        <div class="card card-body ">


          <form method="post" novalidate>
            {% csrf_token %}
            {{ password_generator_request|crispy }}
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>

          </form>

        </div>

      </div>
    </div>

  </main>

  <footer class="footer">
    <p>&copy; Naveen Thurimerla</p>
  </footer>

  <!-- Core Scripts-->
  <script src="{% static 'js\main.js' %}"></script>

  <!-- Vendor Scripts -->
  <script src="{% static 'vendor\bootstrap\js\bootstrap.bundle.min.js' %}"></script>

</body>

</html>